.search-table {
    width: 100%;
}
.search-table td {
    border: 1px gray solid;
    border-width: 0 0 1px 1px;
    padding: 2px 0 2px 5px;
}
.search-table caption {
    font-size: 150%;
    font-weight: bold;
}
.search-table:not(:has(tbody > tr)) thead {
    display: none;
}